<h1 class="text-center my-5">Registro de usuarios</h1>

<div class="row justify-content-center">

    <div class="col-md-6">

        <form action="/auth/register" method="POST">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <input type="text" name="userName" class="form-control mb-2" placeholder="Ingresar nombre" value="Yeison">
            <input type="text" name="email" class="form-control mb-2" placeholder="Ingresar email" value="yeison@gmail.com">
            <input type="password" name="password" class="form-control mb-2" placeholder="Ingresar contraseña" value="123456">
            <input type="password" name="repassword" class="form-control mb-2" placeholder="Repita contraseña" value="123456">
            <button type="submit" class="btn btn-primary">Registrar</button>
        </form>

    </div>

</div>
